/* Tablet, Mobile */
/* Tablet */
/* figma tablet 설계 width값과 관계없이
media max-width의 첫번째 조건 값은 웹사이트
width값 기준으로 설정해서 자연스러운
반응형웹을 설계한다 */
@media screen and (max-width:1160px) {
    /* 1160px 이하일 경우 좌우 15px 여백적용 */
    header {width:calc(100% - 30px);}
}/* 1160 end */
@media screen and (max-width:900px) {
    header nav ul {display:none;}
    header nav .m_nav {
        width:40px; height:40px;
        background:lime;
        display:flex; flex-flow:column nowrap;
        justify-content:space-between;
    }
    header nav .m_nav span {
        width:100%; height:8px;
        border-radius:5px;
        background:#222;
    }
    header nav .m_nav span:nth-child(1) {}
    header nav .m_nav span:nth-child(2) {}
    header nav .m_nav span:nth-child(3) {}
    /* m_nav_open */
    header .m_nav_open {display:block;}
}/* 900 end */
